/* 
  GLOBAL
*/

img,
embed,
object,
video {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  color: #2d3c49;
  line-height: 1.2em;
  font-size: 18px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  margin-top: 1.5em;
}

section {
  padding: 0.5em;
  margin-top: 1.25em;
}

section:last-child {
  margin-bottom: 1.25em;
}

/* 
  HEADER
*/

header {
  border-bottom: 3px solid #7d97ad;
}

.header-content {
  padding: 1em 0;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.header-content .header-item {
  display: flex;
  flex-direction: column;
}

.header-content .header-logo {
  width: 48px;
  height: 48px;
}

.header-start {
  display: flex;
  flex-grow: 1;
  margin-left: 1em;
}

.header-end {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 1;
  margin-right: 1em;
}

/*
  HERO
*/

.hero {
  width: 100%;
}

.hero img {
  width: 100%;
  max-height: 250px;
}

/*
  FEATURED WORK
*/

.project-img {
  width: 100%;
  align-self: center;
}

.project-info {
  display: flex;
  flex-direction: column;
}

.project-name {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 0.5em;
}

.project-description {
  margin-top: 0.5em;
}

.col {
  width: 100%;
  margin-left: 1em;
  margin-right: 1em;
}

.col:not(:first-child) {
  margin-top: 1em;
}

/* 
  SOCIAL MEDIA
*/

.button-group {
  margin-top: 1.5em;
  margin-left: 1em;
}

.button {
  min-width: 50px;
  min-height: 50px;
  border: 1px solid #7d97ad;
  border-radius: 50%;
  padding: 0.5em;
}

.button:not(:first-child) {
  margin-left: 0.5em;
}

.button-twitter {
  color: #1da1f2;
  border-color: #1da1f2;
}

.button-twitter:hover {
  color: #fff;
  background-color: #1da1f2;
}

.button-facebook {
  color: #3b5998;
  border-color: #3b5998;
}

.button-facebook:hover {
  color: #fff;
  background-color: #3b5998;
}

.button-instagram {
  color: #cd486b;
  border-color: #cd486b;
}

.button-instagram:hover {
  color: #fff;
  background-color: #cd486b;
}

.button-linkedin {
  color: #0076b7;
  border-color: #0076b7;
}

.button-linkedin:hover {
  color: #fff;
  background-color: #0076b7;
}

/* 
OTHERS
*/

.text-muted {
  color: #7d97ad;
}

.subtitle {
  margin-top: 10px;
  font-weight: 200;
}

.section-title {
  font-weight: 200;
  font-size: 1.75em;
}

.align-items-end {
  align-items: flex-end;
}

.align-text-center {
  text-align: center;
}

.flex-wrap-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
}
