@media screen and (min-width: 700px) and (max-width: 850px) {
  .col {
    display: flex;
    justify-content: space-between;
  }

  .project-img {
    max-width: 45%;
  }

  .project-info {
    justify-content: center;
    text-align: right;
    max-width: 45%;
  }
}

@media screen and (min-width: 851px) {
  .col {
    width: calc(33.33% - 2em);
  }

  .col:not(:first-child) {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }

  main {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero img {
    max-height: 400px;
  }

  .header-content .header-logo {
    width: 64px;
    height: 64px;
  }
}
